/* General styling for the app */
.App {
  text-align: center;
  font-family: 'Comic Sans MS', 'Arial', sans-serif;
  background-color: #f0f8ff;
  min-height: 100vh;
  padding: 20px;
}

h1 {
  color: #ff6347;
  /* Tomato color */
  font-size: 2.5em;
  margin-bottom: 20px;
}

/* Styling for flash card */
.flash-card {
  background-color: #fff8dc;
  /* Cornsilk color */
  border: 3px solid #ffa07a;
  /* Light Salmon border */
  border-radius: 12px;
  padding: 20px;
  margin: 20px auto;
  width: 250px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.flash-card h2 {
  color: #4682b4;
  /* Steel blue color */
  font-size: 2em;
  margin: 0;
}

input[type="number"] {
  padding: 10px;
  font-size: 1.5em;
  border-radius: 8px;
  border: 2px solid #ffa07a;
  margin-right: 10px;
  color: #555;
  overflow: none;
}

input.answer {
  width: 135px !important;
}

button {
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: #ffa07a;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ff6347;
}

button:disabled {
  background-color: #f5f5f5;
  color: #ccc;
  cursor: not-allowed;
}

/* Feedback message */
p {
  font-size: 1.5em;
  color: #333;
}

.correct {
  color: #32cd32;
  /* Lime green */
}

.incorrect {
  color: #ff4500;
  /* Orange red */
}

.score {
  margin-top: 20px;
  font-size: 1.2em;
}

.score p {
  color: #4682b4;
}

/* Set Max Value input */
label {
  font-size: 1.2em;
  color: #ff6347;
}

input[type="number"] {
  width: 70px;
  padding: 5px;
  font-size: 1.2em;
  border-radius: 8px;
  border: 2px solid #ffa07a;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .flash-card {
    width: 90%;
  }
}

/* Remove the spinner from number input in Chrome, Safari, and Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove spinner in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}